@import url(./reset.css);

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}


.wrapper {
  display: flex;
  justify-content: center;
  height: 100dvh;
}

main {
  width: 360px;
  height: 379px;
  background-color: #2B283A;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.game {
  width: 320px;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1em;
}

.intro h1,
.intro p {
  text-align: center;
}

.dice {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border-radius: 0.23831rem;
  background-color: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: grid;
  place-items: center;
}

.dice-number {
  font-weight: 700;
  font-size: 1.286875rem;
}

.dice button  {
  background-color: #FFF;
  border: none;
  cursor: pointer;
}

.dice-group {
  margin-top: 1em;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

.roll-grp {
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
}

.roll-btn {
  background-color: #5035FF;
  border: none;
  border-radius: 3.81px;
  width: 92.16px;
  height: 35.84px;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}